@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>INTROCONDUIT</h1>
    <p class="lead">We want to address and solve basic daily issues an introvert face.The major motive is to make you feel like home and a lot welcoming.
            This website creates a platform for people who needs quiet stimulating environment. Just signup and login for free to learn more.</p>
    <p><a href="http://localhost:2498/Account/Register" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Are you an Introvert or an Extrovert</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Books</h2>
        <p>Various books written by authors to help you better understand how to deal with Introvercy</p>
        <p><a class="btn btn-primary" href="../Book/Index">Books &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Videos on Introverts</h2>
        <p>We have created a playlist of videos to help you understand introvercy better.</p>
        <p><a class="btn btn-danger" href="https://www.youtube.com/watch?v=c0KYU2j0TM4&list=PL7ix2SG-CI45yvrwesnFDpcqnB5j7uhau">Playlist &raquo;</a></p>
    </div>
</div>