@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>

<html>


<head>
    <title></title>
    <link href="~/Scripts/js/jquery.mobile-1.4.5.min.css" rel="stylesheet" />

    <script src="~/Scripts/js/jquery.mobile-1.4.5.min.js"></script>

    <script src="~/Scripts/js/bootstrap.min.js"></script>

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Books</h1>
    </header>
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="mypanel panel ">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-4">

                                <img src="~/Content/img/1.jpg" />

                            </div>
                            <div class="col-md-8">

                                <span>
                                    The Power of Introverts in a World That Can't Stop Talking'
                                    Demonstrates how introverted people are misunderstood and undervalued in today's culture, charting the rise of extrovert ideology
                                </span><br />    <p style="padding-top:50px;">
                                    <a href="http://www.amazon.com/Quiet-Power-Introverts-World-Talking/dp/0307352153/ref=sr_1_1?s=books&ie=UTF8&qid=1426441002&sr=1-1&keywords=introvert" target="_blank" class="btn-default">
                                        Purchase Link
                                    </a>
                                </p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mypanel panel ">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-4">

                                <img src="~/Content/img/2.jpg" />

                            </div>
                            <div class="col-md-8">

                                <span>
                                    The Introvert Advantage dispels introverts belief that something is wrong with them and instead helps them recognize their inner strengths-their analytical skills, ability to think outside the box, and strong powers of concentration.
                                </span><br />
                                <p style="padding-top:30px;">
                                    <a href="http://www.amazon.com/Introvert-Advantage-Thrive-Extrovert-World/dp/0761123695/ref=sr_1_2?s=books&ie=UTF8&qid=1426441002&sr=1-2&keywords=introvert" target="_blank" class="btn-default">
                                        Purchase Link
                                    </a>
                                </p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mypanel panel ">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-4">

                                <img src="~/Content/img/3.jpg" />

                            </div>
                            <div class="col-md-8">

                                <span>
                                    Being You: A How-To Guide for Introverts[Kindle Edition]
                                </span><br />
                                <p style="padding-top:110px;">
                                    <a href="http://www.amazon.com/Being-You-How--Guide-Introverts-ebook/dp/B00SK6OPHA/ref=sr_1_5?s=books&ie=UTF8&qid=1426441002&sr=1-5&keywords=introvert" target="_blank" class="btn-default">
                                        Purchase Link
                                    </a>
                                </p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mypanel panel ">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-4">

                                <img src="~/Content/img/4.jpg" />

                            </div>
                            <div class="col-md-8">

                                <span>
                                    The author helps you understand how introversion affects your life and gives good suggestions for managing difficult situations. Recommended for all introverts.
                                </span><br />
                                <p style="padding-top:70px;">
                                    <a href="http://www.amazon.com/Introvert-Unleasing-Power-Internal-Genius-ebook/dp/B00RI1GBA2/ref=sr_1_15?s=books&ie=UTF8&qid=1426447936&sr=1-15&keywords=introvert" target="_blank" class="btn-default">
                                        Purchase Link
                                    </a>
                                </p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mypanel panel ">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-4">
                               
                                <img src="~/Content/img/5.jpg" />
                            </div>
                            <div class="col-md-8">

                                <span>
                                    Introvert - Unleasing The Power Of Internal Genius
                                </span><br />
                                <p style="padding-top:110px;">
                                    <a href="http://www.amazon.com/Introvert-Unleasing-Power-Internal-Genius-ebook/dp/B00RI1GBA2/ref=sr_1_15?s=books&ie=UTF8&qid=1426447936&sr=1-15&keywords=introvert" target="_blank" class="btn-default">
                                        Purchase Link
                                    </a>
                                </p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>
    <footer>

        Copyright © IntroConduit.com
    </footer>

</body>
</html>
