@{
    ViewBag.Title = "About";
}
<h2>


    Congratulations - you have completed the Quiet Quiz: Are You an Introvert or an Extrovert?
</h2>


<p><b>Your personality profile: @ViewBag.Grade.</b> (I = Introvert. E =Extrovert)</p>
<p>
    <b>
        Your Personality Profile:

        I = Introvert. If you answered the majority of the questions true, you're probably an

        introvert.
    </b>Given the choice, you'll devote your social energy to the people you care about most,

    preferring a glass of wine with a close friend to a party full of strangers. You think before you speak,

    and relish solitude. You feel energized when focusing deeply on a subject or activity that really

    interests you. You have an active inner life, and are at your best when you tap into its riches.
</p>
<p>
    <b>
        E/I = Ambivert. If you answered the questions evenly, true and false, you're probably

        an ambivert
    </b> - meaning that you fall smack in the middle of the introvert-extrovert spectrum. In

    many ways, ambiverts have the best of both worlds, able to tap into either pole as needed.
</p>
<p>
    <b>
        E = Extrovert. If you answered the majority of the questions false, you’re probably an

        extrovert.
    </b> You relish social life, and are energized by interacting with friends and strangers alike.

    You are assertive, go-getting, and able to seize the day. You're great at thinking on your feet, and are

    relatively comfortable with conflict. You are actively engaged in the world around you, and are at

    your best when you tap into its energy.
</p>
<p>

    Why does it matter where you fall on the introvert-extrovert spectrum? Because introversion and

    extroversion are at the heart of human nature. And when you make life choices that are congruent

    with your temperament, you unleash vast stores of energy.
</p>
<p>

    Conversely, when you spend too much time battling your own nature, the opposite happens—you

    deplete yourself. Too many people live lives that don't suit them—introverts with frenetic social

    schedules, extroverts with jobs that require them to sit in front of their computers for hours at a

    stretch. We all have to do things that don't come naturally—some of the time. But it shouldn't be all

    the time. It shouldn't even be most of the time.
</p>
<h3>
    (Remember, though, that no one is all introvert or all extrovert. Introverts attend wild

    parties, and extroverts curl up with their favorite books. As the psychologist Carl Jung

    put it, "There is no such thing as a pure extrovert or a pure introvert. Such a man

    would be in the lunatic asylum.")
</h3>